<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((products)=>{ %>
      <tr>
        <th><%= products.id %></th>
        <td><%= products.name %></td>
        <td><%= products.desc %></td>
        <td scope="col"><%= products.price %></td>
        <td>
          <img src="<%=products.imageUrl%>" width="80px" height="107px" />
        </td>

        <td>
          <a href="/updateproduct/<%= products.id %>" class="btn btn-warning"
            >Update</a
          >
          <button class="btn btn-danger" onclick="deleteproduct('<%= products.id %>')">Delete</button>
         
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
